logs
*.log
npm-debug.log*

pids
*.pid
*.seed
*.pid.lock

.grunt
.lock-wscript
node_modules/
.npm
.eslintcache
.node_repl_history
*.tgz
.env

.idea
*.lng

functions/pages/
functions/pages.json
private/
