doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title Parallel by Simon Singh
    meta(name="description", content="Weekly mathematics challenges for secondary school students.")

    //- Mobile Display
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="cleartype", content="on")
    meta(name="msapplication-tap-highlight" content="no")

    //- iOS Web Apps
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title" content="Parallel by Simon Singh")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")

    //- Web Apps and Images
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-title", content="Parallel")
    meta(name="theme-color", content="#181824")
    link(rel="manifest", href="/manifest.json")

    //- Stylesheets
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,400italic" rel="stylesheet")
    link(href="/parallel.css?v=14", rel="stylesheet")

  body
    #vue
      .header
        #menu(v-on:click="showSidebar=true")
          svg(width=24 height=24)
            rect(y=2 width=24 height=3 fill="white")
            rect(y=10 width=24 height=3 fill="white")
            rect(y=18 width=24 height=3 fill="white")

        a#logo(href="/" title="Home")

      #shadow(v-on:click="showSidebar=false" v-bind:class="{visible: showSidebar}")

      #container
        .sidebar(v-bind:class="{show: user.ready}")
          .sidebar-wrap(v-bind:class="{visible: showSidebar}")
            .intros(v-if="!user.data")
              a(href="/introduction")
                svg(width=40 height=40)
                  path(d="M31.9,10.7v-.5a3.1,3.1,0,0,0-3.1-3.1H24.7V5.7a4.7,4.7,0,0,0-9.4,0V7.1H11.2a3.1,3.1,0,0,0-3.1,3.1v.5C6,13.5,2.5,19.7,2.5,30a1.5,1.5,0,0,0,.4,1.1l1,1.1a9,9,0,0,0,.7,2.2,6,6,0,0,0,3.9,3A3.1,3.1,0,0,0,11.1,39H28.9a3.1,3.1,0,0,0,2.6-1.6,5.7,5.7,0,0,0,3.9-3,9,9,0,0,0,.7-2.2l1-1.1a1.5,1.5,0,0,0,.4-1.1C37.5,19.7,34,13.5,31.9,10.7Zm-14-5a2.1,2.1,0,0,1,4.2,0V7.1H17.9ZM20,11.3a2.4,2.4,0,0,1,2.4,2.4,2.4,2.4,0,0,1-4.8,0A2.4,2.4,0,0,1,20,11.3ZM33.8,33.7a4.1,4.1,0,0,1-1.9,1.8v-7a5.4,5.4,0,0,1-3,1v.4a1.8,1.8,0,0,1-1.8,1.7H23.8A1.8,1.8,0,0,1,22,29.9v-.4H17.9v.4a1.8,1.8,0,0,1-1.8,1.7H12.8A1.8,1.8,0,0,1,11,29.9v-.4a5.3,5.3,0,0,1-2.9-1v7a4.1,4.1,0,0,1-1.9-1.8A5.8,5.8,0,0,1,5.6,32l.9-1.2a2,2,0,0,0,.3-1.1,33.7,33.7,0,0,1,1.3-9.4v3.8A3.1,3.1,0,0,0,11,27.2v-.6a1.8,1.8,0,0,1,1.8-1.8v-6a1.6,1.6,0,0,1,1.7-1.6,1.6,1.6,0,0,1,1.6,1.6v6a1.8,1.8,0,0,1,1.8,1.8v.6H22v-.6a1.8,1.8,0,0,1,1.8-1.8v-6a1.6,1.6,0,0,1,1.7-1.6,1.6,1.6,0,0,1,1.6,1.6v6a1.8,1.8,0,0,1,1.8,1.8v.6a3.2,3.2,0,0,0,3-3.1V20.3a33.7,33.7,0,0,1,1.3,9.4,2,2,0,0,0,.3,1.1l.9,1.2A5.8,5.8,0,0,1,33.8,33.7Z")
                  path(d="M27.1,26H23.8a.6.6,0,0,0-.6.6v3.3a.6.6,0,0,0,.6.6h3.3a.6.6,0,0,0,.6-.6V26.6A.6.6,0,0,0,27.1,26Zm-.5,3.3H24.4V27.1h2.2Z")
                  path(d="M16.1,26H12.8a.6.6,0,0,0-.6.6v3.3a.6.6,0,0,0,.6.6h3.3a.6.6,0,0,0,.6-.6V26.6A.6.6,0,0,0,16.1,26Zm-.5,3.3H13.4V27.1h2.2Z")
                | Students
              a(href="/teachers")
                svg(width=40 height=40): path(d="M39.7,15.5,20,8h-.3l-7.6,2.9L21,14.8l-2.7,1.1L9.2,12.1.3,15.5c-.2,0-.3.2-.3.4v.6a.3.3,0,0,0,.3.3L3,17.9V33.3l3.3-1.4V19.2l3.8,1.6c-.1.1-.1.3-.2.4a15.2,15.2,0,0,0-1.7,6.1.4.4,0,0,0,.1.3h.3a19.2,19.2,0,0,1,11.5,5h.5c5.8-4.9,10.7-5,10.8-5h.3a.4.4,0,0,0,.1-.3,16.1,16.1,0,0,0-1.6-6.1c-.1-.1-.1-.3-.2-.4l9.7-4a.3.3,0,0,0,.3-.3v-.6C40,15.7,39.9,15.5,39.7,15.5Z")
                | Teachers
              a(href="/parents")
                svg(width=40 height=40): path(d="M34.9,36H5.2A3.2,3.2,0,0,1,2,32.8V17.7l15.2,4.5v3L20,28.1l2.8-2.9V22.1L38,17.7V32.8A3.1,3.1,0,0,1,34.9,36ZM2,15.5V12.7A3.5,3.5,0,0,1,5.4,9.3H9.9V6.4A3.5,3.5,0,0,1,13.2,3H26.8a3.5,3.5,0,0,1,3.3,3.4V9.3h4.5A3.5,3.5,0,0,1,38,12.7v2.8L19.9,20.6ZM27.3,7a1.4,1.4,0,0,0-1.1-1.2H13.8A1.4,1.4,0,0,0,12.7,7V9.3H27.3Z")
                | Parents
            div(v-if="!user.data")
              .user: a(href="/signup") Create a free account
              .user
                a(v-on:click="login.show = !login.show") Login
                form.login(v-bind:class="{active: login.show}" v-on:submit="login.submit")
                  input(placeholder="Email" required type="email" v-model="login.email" autocomplete="email")
                  input(placeholder="Password" v-if="!login.reset" required type="password" v-model="login.password" autocomplete="current-password")
                  .error(v-show="login.error") {{login.error}}
                  p
                    button(type="submit") {{ login.reset ? 'Reset' : 'Login' }}
                    a(v-on:click="login.toggleReset()") {{ login.reset ? 'Back to login' : 'Reset password' }}
            .user.account(v-if="user.data")
              p {{ user.data.first }} {{user.data.last }}
              p.small
                span(v-if="!user.data.code") {{ user.level == 'year7' ? 'Year 7' : 'Year 8' }}&nbsp;&nbsp;•&nbsp;&nbsp;
                a(href="/account") Edit Account
                | &nbsp;&nbsp;•&nbsp;&nbsp;
                a(v-on:click="user.logout") Logout
              p.small(v-if="user.data.schoolName") {{ user.data.schoolName }}
            .user(v-if="user.data && user.data.code"): a(href="/dashboard") Teacher Dashboard
            .toggle(v-if="!user.data || user.data.code")
              a(v-on:click="user.level = 'year7'" v-bind:class="{active: user.level == 'year7'}") Year 7
              a(v-on:click="user.level = 'year8'" v-bind:class="{active: user.level == 'year8'}") Year 8
            nav
              a(v-for="(p, i) in pages[user.level]" v-bind:href="'/' + p.url" v-bind:class="{active: path==p.url}" v-if="user.getStatus(p) != 'locked' && i < 11")
                .title-meta Week {{ p.week }}
                .title {{ p.title }}
                .status.open(v-if="user.getStatus(p) == 'open'") NEW
                .status.submitted(v-if="user.getStatus(p) == 'submitted'")
                .status.score(v-if="user.getStatus(p) == 'revealed'" v-bind:class="user.getLevel(p)") {{ user.getScore(p) }}%
              //-a(href="/introduction" v-bind:class="{active: path=='introduction'}")
                .title Introduction

        article(v-bind:class="c ? c.status : ''")
          block content
          if content
            div!= content

      #modal(v-if="user.data && !user.data.acceptedTerms && path!='terms-and-conditions'")
        .modal-background
        .modal-body
          h2 Privacy Updates
          form(v-on:submit="user.acceptTerms")
            p.checkbox
              input#terms(type="checkbox" required)
              label(for="terms") As part of Parallel, we’ll email you every week when a new challenge is released, when the answers are available, and when there are special competitions, prizes and opportunities. By checking this box you consent to Parallel sending those weekly emails, in accordance with our #[a(href="/terms-and-conditions" target="_blank") Data Protection Terms & Conditions].
            button(type="submit") Continue

    footer
      a(href="/about") About
      | •
      a(href="/contact") Contact
      | •
      a(href="/terms-and-conditions") Data Protection, Terms and Conditions
      br
      | Created by
      a(href="http://goodthinkingsociety.org" target="_blank") #[img(src="/images/good-thinking.png" width=10 height=16)] Good Thinking Society
      | and
      a(href="https://mathigon.org") #[img(src="/images/mathigon.png" width=16 height=16)] Mathigon

    script var PAGES = !{pages};
    script(defer src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js")
    script(defer src="/parallel.js?v=13")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-37525836-7', 'auto');
      ga('send', 'pageview');
