div(v-if="isOneOf(c.status, 'open', 'past', 'preview')")
  button#submit(v-on:click="c.submit" data-challenge=pageId) Submit Answers

.score(v-if="c.status == 'submitted'")
  p.large Submitted!
  p Your score and the solutions will be revealed in {{ timeUntil(c.deadline) }}.

.score(v-if="c.status == 'revealed'" v-bind:class="user.getLevel(c.data)")
  p.large Score: {{user.getScore(c.data)}}%
  p Level: {{user.getLevel(c.data)}}
