extends _layout

block content
  div(style="overflow: hidden;")

    h1 Account Settings

    form(v-on:submit="user.edit"  v-bind:class="{loading: user.editForm.loading}" class="edit-account-form")
      .error(v-show="user.editForm.error" style="margin-top: .5em") {{user.editForm.error}}

      script!= 'window.USER_DATA = ' + JSON.stringify(user) + ';'

      script!= 'window.COUNTRY_CODES = ' + JSON.stringify(countries) + ';'

      label
        | First Name
        input(type="text" v-model="user.editForm.first")

      label
        | Surname
        input(type="text" v-model="user.editForm.last")

      if user.code
        //- Teacher Account Fields
        label
          | School Name
          input(type="text" v-model="user.editForm.schoolName")

        label
          | School Post Code
          input(type="text" v-model="user.editForm.postCode")

        label
          | Phone Number
          input(type="text" v-model="user.editForm.phoneNumber")

      else
        //- Student Account Fields
        label
          | Teacher codes
          vue-tags-input#ti(v-model="user.editForm.teacherCode" :tags="user.editForm.teacherCodes" @tags-changed="t => user.editForm.teacherCodes = t" placeholder="Add Code")

        label
          | Level 
          select(v-model="user.editForm.level")
            option(value="year6") Level 1 (ages 11 and below)
            option(value="year7") Level 2 (age 11-12)
            option(value="year8") Level 3 (age 12–13)
            option(value="year9") Level 4 (age 13–14)
            option(value="year10") Level 5 (age 14–15)
            option(value="year11") Level 6 (ages 15 and above)
            option(value="graduated") Graduated

        label
          span Primary Email
          br
          div(class="info") (This is what you'll log in with)
          input(type="text" v-model="user.editForm.email" disabled)

        div(class="email-section" v-if="user.editForm.studentEmails")
          label(v-if="user.editForm.studentEmails.length <= 1") Additional Student Email
          label(v-if="user.editForm.studentEmails.length > 1") Additional Student Emails
          div(class="email-item" v-for="(email, index) in user.editForm.studentEmails")
            input(type="email" v-model="user.editForm.studentEmails[index].email" :key="index")
            button(class="email-edit" type="button" @click="user.editForm.studentEmails.splice(index, 1);") ×
          button(class="new-email" type="button" @click="user.editForm.studentEmails.push({ email: '', type: 'student' });") Add additional student email

        div(class="email-section" v-if="user.editForm.guardianEmails")
          label(v-if="user.editForm.guardianEmails.length <= 1") Guardian Email
          label(v-if="user.editForm.guardianEmails.length > 1") Guardian Emails
          div(class="email-item" v-for="(email, index) in user.editForm.guardianEmails")
            input(type="email" v-model="user.editForm.guardianEmails[index].email" :key="index" :required="index === 0 && user.editForm.birthYear >= 2009")
            button(class="email-edit" type="button" @click="user.editForm.guardianEmails.splice(index, 1);" v-if="user.editForm.guardianEmails.length > 1") ×
          button(class="new-email" type="button" @click="user.editForm.guardianEmails.push({ email: '', type: 'guardian' });" v-if="user.editForm.guardianEmails[0]?.email !== ''") Add additional guardian email

        button(type="submit") Update

        hr(style="width: 300%; margin-left: -100%;")

        h2 Additional information

        div(v-if="user.editForm.profileComplete")
          div(v-if="user.editForm.homeEducated && !user.editForm.homeEducatedConfirm")
            h4(class="pink") You're almost done! Fill out the home-education form
              a(href="/home-educator-form") here 
              | to complete your profile
          div(v-if="!(user.editForm.homeEducated && !user.editForm.homeEducatedConfirm)")
            h4 Congrats, you’re all set! Do make sure to update your info whenever it changes.
        div(v-if="!user.editForm.profileComplete")
          h4 Complete your profile to access terrific bonus Parallel opportunities
          p Parallel offers students lots of exciting rewards and opportunities, such as prizes, special events for your school, exclusive access to special Parallel features and events, certificates, diplomas and the chance to appear on screen during our mathematics circles as part of our Student Panel. To qualify for all this good stuff, you just need to complete the information below.

        div(class="input-other-wrapper")
          label
            | Month of Birth
            select(v-model="user.editForm.birthMonth" :required="user.editForm.studentPanelConsidered === '1'")
              option(value="1") January
              option(value="2") February
              option(value="3") March
              option(value="4") April
              option(value="5") May
              option(value="6") June
              option(value="7") July
              option(value="8") August
              option(value="9") September
              option(value="10") October
              option(value="11") November
              option(value="12") December
          label
            | Year of Birth:
            select(v-model="user.editForm.birthYear" required)
              - var year = 1920;
              while year < 2019
                option= year++

        div(class="input-other-wrapper")
          label(v-bind:class="{'input-other-two-span': user.editForm.gender !== 'other'}")
            | Gender
            select(v-model="user.editForm.gender" :required="user.editForm.studentPanelConsidered === '1'")
              option(value="001_male") Male
              option(value="002_female") Female
              option(value="003_non_binary") Non-binary
              option(value="other") Other
              option(value="000_prefer_not_to_say") Prefer not to say
          label(v-if="user.editForm.gender === 'other'")
            | Other:
            input(type="text" v-model="user.editForm.otherGender" :required="user.editForm.studentPanelConsidered === '1'")

        div(class="input-other-wrapper")
          label(v-bind:class="{'input-other-two-span': user.editForm.ethnicity !== 'other'}")
            | Ethnicity
            select(v-model="user.editForm.ethnicity" :required="user.editForm.studentPanelConsidered === '1'")
              option(value="001_asian_or_asian_british") Asian or Asian British
              option(value="002_black_black_british_caribbean_or_african") Black, Black British, Caribbean or African
              option(value="003_white") White
              option(value="other") Other
              option(value="000_prefer_not_to_say") Prefer not to say
          label(v-if="user.editForm.ethnicity === 'other'")
            | Other:
            input(type="text" v-model="user.editForm.otherEthnicity" :required="user.editForm.studentPanelConsidered === '1'")

        div(class="input-other-wrapper")
          label(v-bind:class="{'input-other-two-span': user.editForm.country !== 'GB'}")
            | Country
            select(v-model="user.editForm.country" :required="user.editForm.studentPanelConsidered === '1'")
              option(value="GB") United Kingdom
              option(v-for="(code, name) in user.editForm.countries" :value="name") {{ code }}
          label(v-if="user.editForm.country === 'GB'")
            | Country
            select(v-model="user.editForm.ukCountry" :required="user.editForm.studentPanelConsidered === '1'")
              option(value="england") England
              option(value="scotland") Scotland
              option(value="wales") Wales
              option(value="northernIreland") Northern Ireland

        p.checkbox(v-if="!!user.editForm.ukCountry && user.editForm.country === 'GB'")
          input#pupilPremium(type="checkbox" v-model="user.editForm.pupilPremium")
          label(for="pupilPremium" v-if="user.editForm.ukCountry === 'england'") Do you qualify for Pupil Premium funding?
          label(for="pupilPremium" v-if="user.editForm.ukCountry === 'wales'") Do you qualify for Pupil Premium funding?
          label(for="pupilPremium" v-if="user.editForm.ukCountry === 'northernIreland'") Do you qualify for Pupil Premium funding?
          label(for="pupilPremium" v-if="user.editForm.ukCountry === 'scotland'") Do you qualify for Pupil Equity Fund?

        h3(v-if="!user.editForm.homeEducated") About your school
        h3(v-if="user.editForm.homeEducated") About your home education 

        div(class="home-educated")
          span(class="bold") If you are home-educated, 
          span please confirm that this is the case by ticking the box and asking a parent to complete the form in the link below.
          br 
          p.checkbox
            input#homeEducated(type="checkbox" v-model="user.editForm.homeEducated")
            label(for="homeEducated") 
              | I can confirm that I am home-educated and I would like to complete the home-education form
              a(href="/home-educator-form") here

        div(v-if="!user.editForm.homeEducated")
          label
            | School Name
            input(type="text" v-model="user.editForm.schoolName" :required="user.editForm.studentPanelConsidered === '1'")

          label(v-if="user.editForm.country === 'GB'")
            | School postcode
            input(type="text" v-model="user.editForm.schoolPostcode" :required="user.editForm.studentPanelConsidered === '1'")

          label
            span Email address for a school contact
            br
            div(class="info") (Ideally your maths teacher, but it could also be your form tutor or head of maths. Make sure you have their permission before sharing this)
            input(type="email" v-model="user.editForm.schoolEmail" :required="user.editForm.studentPanelConsidered === '1'")

        h3 Student Panel

        label
          | Would you like to be considered to appear on screen during Parallel Circles?
          select(v-model="user.editForm.studentPanelConsidered")
            option(value="1") Yes
            option(value="0") No
        
        label(v-if="user.editForm.studentPanelConsidered === '1'")
          | Guardian Email
          input(type="text" v-model="user.editForm.guardianEmail" :required="user.editForm.studentPanelConsidered === '1'")

      button(type="submit") Update

  hr
  h2 Change Password

  form(v-on:submit="user.password"  v-bind:class="{loading: user.passwordForm.loading}")
    .error(v-show="user.passwordForm.error" style="margin-top: .5em") {{user.passwordForm.error}}

    label
      | Old Password
      input(type="password" v-model="user.passwordForm.old" autocomplete="password" required)

    label
      | New Password
      input(type="password" pattern=".{6,}" v-model="user.passwordForm.new" autocomplete="new-password" required)

    button(type="submit") Update

  if user && !user.code && user.userReference
    p(style="font-size: 16px; text-align: center; color: #555; margin-top: 3rem;") Student Reference: #{user.userReference}
