extends _layout

block content
  h1 Settings
  h2 Account Details

  form(v-on:submit="user.edit"  v-bind:class="{loading: user.editForm.loading}")
    .error(v-show="user.editForm.error" style="margin-top: .5em") {{user.editForm.error}}

    script!= 'window.USER_DATA = ' + JSON.stringify(user) + ';'

    label
      | First Name
      input(type="text" v-model="user.editForm.first")

    label
      | Surname
      input(type="text" v-model="user.editForm.last")

    if user.code
      //- Teacher Account Fields
      label
        | School Name
        input(type="text" v-model="user.editForm.schoolName")

      label
        | School Post Code
        input(type="text" v-model="user.editForm.postCode")

      label
        | Phone Number
        input(type="text" v-model="user.editForm.phoneNumber")

    else
      //- Student Account Fields
      label
        | Teacher codes
        vue-tags-input#ti(v-model="user.editForm.teacherCode" :tags="user.editForm.teacherCodes" @tags-changed="t => user.editForm.teacherCodes = t" placeholder="Add Code")

      label
        | Year
        select(v-model="user.editForm.level")
          option(value="year6") Level 1 (age 10 and below)
          option(value="year7") Level 2 (age 11-12)
          option(value="year8") Level 3 (age 12–13)
          option(value="year9") Level 4 (age 13–14)
          option(value="year10") Level 5 (age 14–15)
          option(value="year11") Level 6 (age 15 and above)
          option(value="graduated") Graduated

    button(type="submit") Update

  hr
  h2 Change Password

  form(v-on:submit="user.password"  v-bind:class="{loading: user.passwordForm.loading}")
    .error(v-show="user.passwordForm.error" style="margin-top: .5em") {{user.passwordForm.error}}

    label
      | Old Password
      input(type="password" v-model="user.passwordForm.old" autocomplete="password" required)

    label
      | New Password
      input(type="password" pattern=".{6,}" v-model="user.passwordForm.new" autocomplete="new-password" required)

    button(type="submit") Update

  if user && !user.code && user.userReference
    p(style="font-size: 16px; text-align: center; color: #555; margin-top: 3rem;") Student Reference: #{user.userReference}
