extends _layout

block content
  h1 Badges

  if user.points > 0
    .score.user-score You’ve scored #{user.points} points.

  .badges-grid
    for b in badges[user.level]
      if showAllBadges || user.points >= b.score
        .badge(style={background: '#' + b.color})
          .badge-img(style={'background-image': 'url(/images/badges/' + b.id + '.jpg)'})
          h2= b.name
          p: a(href=b.link target="_blank") Learn more…
      else
        .badge
          .badge-img
            .points= b.score
            .small Points needed
