extends _layout

block content
  h1 Badges

  .badges-grid
    for b in badges[user.level]
      if showAllBadges || user.badges.indexOf(b.id) >= 0
        .badge(style={background: '#' + b.color})
          .badge-img(style={'background-image': 'url(/images/badges/' + b.id + '.jpg)'})
          h2= b.name
          p: a(href=b.link target="_blank") Learn more…
      else
        .badge
          .badge-img
            .points= b.score
            .small Points needed
