extends _layout

block content

  h1 Contact

  p If you have a question about the Parallel Project, please email us via the form below. Unfortunately we can’t give hints or solutions for any of the questions.

  form(action="https://mathigon.org/form?id=parallel" method="post")
    label Name
      input(type="text" name="name" size="30" required autocomplete="name")
    label Email
      input(type="email" name="email" size="30" required autocomplete="email")
    label Message
      textarea(name="text" cols="40" rows="3" required)
    button(type="submit") Send
