extends _layout

block content
  header(style="background-image: url('/images/header.jpg')")
    h1 Welcome to the Parallel Maths Project!
  img.img-right(src="/images/simpsons.png" width=160 height=280)
  include ../build/home.html
