extends _layout

block content

  h1 Create New Account

  form(v-on:submit="user.signup"  v-bind:class="{loading: user.signupForm.loading}")

    .toggle
      a(v-on:click="user.signupForm.isTeacher = false" v-bind:class="{active: !user.signupForm.isTeacher}") Student
      a(v-on:click="user.signupForm.isTeacher = true" v-bind:class="{active: user.signupForm.isTeacher}") Teacher

    .error(v-show="user.signupForm.error" style="margin-top: .5em") {{user.signupForm.error}}

    label
      | First Name
      input(type="text" required v-model="user.signupForm.first" autocomplete="given-name")

    label
      | Surname
      input(type="text" required v-model="user.signupForm.last" autocomplete="family-name")

    label
      | Email
      input(type="email" required v-model="user.signupForm.email" autocomplete="email")

    label
      | Password (min 6 characters)
      input(type="password" required pattern=".{6,}" v-model="user.signupForm.password" autocomplete="password")

    label(v-if="!user.signupForm.isTeacher")
      | Teacher code (if you are participating as part of a school)
      input(type="text" v-model="user.signupForm.teacherCode")

    label(v-if="!user.signupForm.isTeacher")
      | Year
      select(v-model="user.signupForm.level")
        option(value="year7") Year 7 (age 12 or below)
        option(value="year8") Year 8 (age 12–13)
        option(value="year9") Year 9 (age 13–14)
        option(value="year10") Year 10 (age 14–15)
        option(value="year11") Year 11 (age 15 or above)

    label(v-if="!user.signupForm.isTeacher && !user.signupForm.teacherCode")
      | Year of Birth
      select(v-model="user.signupForm.birthYear")
        - var year = 1920;
        while year < 2014
          option= year++

    label(v-if="user.signupForm.isTeacher")
      | School Name
      input(type="text" v-model="user.signupForm.schoolName" required)

    label(v-if="user.signupForm.isTeacher")
      | School Post Code
      input(type="text" v-model="user.signupForm.postCode" required)

    label(v-if="user.signupForm.isTeacher")
      | School Phone Number
      input(type="text" v-model="user.signupForm.phoneNumber" required)

    label(v-if="!user.signupForm.isTeacher && !user.signupForm.teacherCode && user.signupForm.birthYear >= 2006")
      | Email of a parent or guardian#[br]#[em This is required because you are not yet 13 years old.]
      input(type="email" v-model="user.signupForm.guardianEmail" required)

    p.checkbox
      input#terms(type="checkbox" required)
      label(for="terms") Every week we will email you when a new challenge has been released, when the answers are available, and when there are special competitions, prizes and opportunities. By checking this box you consent to receiving these emails, in accordance with our #[a(href="/terms-and-conditions" target="_blank") Data Protection Terms & Conditions].

    button(type="submit") Sign up
