extends templates/layout

block content

  h1 Edit Account

  form(v-on:submit="edit.submit"  v-if="user.ready && user.data" v-bind:class="{loading: edit.loading}")

    .error(v-show="edit.error" style="margin-top: .5em") {{edit.error}}

    label(v-if="!user.data.code")
      | Teacher code (optional)
      input(type="text" v-model="edit.teacherCode")

    label(v-if="!user.data.code")
      | Year
      select(v-model="edit.level")
        option(value="year7") Year 7 (age 11 and below)
        option(value="year8") Year 8 (age 12 and above)

    label(v-if="user.data.code")
      | School Name
      input(type="text" v-model="edit.schoolName")

    label(v-if="user.data.code")
      | School Post Code
      input(type="text" v-model="edit.postCode")

    label(v-if="user.data.code")
      | School Phone Number
      input(type="text" v-model="edit.phoneNumber")

    label
      | Old Password (optional)
      input(type="password" v-model="edit.old" autocomplete="password")

    label
      | New Password (optional)
      input(type="password" pattern=".{6,}" v-model="edit.new" autocomplete="new-password")

    button#edit-account(type="submit") Update
