extends templates/layout

block content

  h1 Teacher Dashboard

  div(v-if="user.ready && user.data.code")
    p Welcome to Parallel! Your students can create an account using the teacher code #[strong {{user.data.code}}].

    .error(v-show="teacher.error") {{ teacher.error }}

    table#dashboard(v-if="!teacher.error")
      thead
        tr
          th(width=160)
          th(width=100 v-for="p in teacher.pages") {{ p.title }}
      tbody
        tr(v-for="s in teacher.students")
          td(width=200) {{ s.name }}
          td(width=100 v-for="p in teacher.pages")
            span.score(v-if="teacher.answers[s.id][p.url]" v-bind:class="teacher.answers[s.id][p.url].level") {{ teacher.answers[s.id][p.url].score }}%
