extends templates/layout

block content

  div(v-if="!user")

    h1 Welcome to the Parallel Maths Project

    img(src="/images/misc/simon-simpsons.png" width=160 height=280 style="float: right; margin-left: 1rem")

    p #[a(href="https://en.wikipedia.org/wiki/Simon_Singh") Dr Simon Singh], author of the No. 1 bestseller #[a(href="https://en.wikipedia.org/wiki/Fermat%27s_Last_Theorem_(book)" target="_blank") Fermat’s Last Theorem] and #[a(href="https://en.wikipedia.org/wiki/The_Simpsons_and_Their_Mathematical_Secrets" target="_blank") The Simpsons and Their Mathematical Secrets], has created a set of weekly maths challenges – 60 minutes of interesting, fun and challenging material that goes beyond school maths: mystery and history, activities and oddities, puzzles and problems. So far, we have four sets of challenges designed for students aged 11 to 13, but if you like what we do then there will be more challenges later in the year.

    p It’s #[strong FREE] to sign up and all the materials we offer are also #[strong FREE].

    p Log in above or #[strong sign up below to access your first set of challenges]:

    include templates/signup

  div(v-if="user")

    table
      tr
        th #[a(href="/about") About]
        th #[a(href="/tts") Top-Top Set]
        th #[a(href="/scores") My Scores]
        th #[a(href="/good-thinking") Good Thinking]
        th #[a(href="/contact") Contact]

    h1 Parallelograms
    table(style="border: 1px solid black; padding: 5px 8px 0px 5px; font-family: Times New Roman")
      tr
        td
          p(style="line-height:1.0")
            | #[strong Origin]: late 16th century: from French parallélogramme, via late Latin from Greek parallēlogrammon, from parallēlos ‘alongside another’ + grammē ‘line’.
            br
            | #[strong Pronunciation]: /ˌparəˈlɛləɡram/
            ol(style="line-height:1.0; font-size:16px")
              li a four-sided plane rectilinear figure with opposite sides parallel.
              li a portmanteau word combining parallel and telegram. A message containing mischievous maths problems sent each week by the Parallel Project to bright young mathematicians.

    div(v-if="currentChallenge")
      p #[strong Current Parallelogram (#1) closes on Sunday at 8pm.]
    div(v-else)
      p #[strong Next Parallelogram (#1) starts at 4pm on Friday.]

    p Each Parallelogram (your collection of maths challenges) is part of a series of four Parallelograms, one per week for four weeks, ending on 22 July.