extends templates/layout

block content

  h1 My Scores

  div(v-show="!results[1] && !results[2] && !results[3] && !results[4]").
    You currently have no scores to view.

  .status.score(v-show="results[1] !== null" v-bind:class="level(results[1])[0]" style="max-width: 440px;")
    p.large Parallelogram #1: {{results[1] * 10}}%
    p {{level(results[1])[0]}} ({{level(results[1])[1]}})

  .status.score(v-show="results[2] !== null" v-bind:class="level(results[2])[0]" style="max-width: 440px;")
    p.large Parallelogram #2: {{results[2] * 10}}%
    p {{level(results[2])[0]}} ({{level(results[2])[1]}})

  .status.score(v-show="results[3] !== null" v-bind:class="level(results[3])[0]" style="max-width: 440px;")
    p.large Parallelogram #3: {{results[3] * 10}}%
    p {{level(results[3])[0]}} ({{level(results[3])[1]}})

  .status.score(v-show="results[4] !== null" v-bind:class="level(results[4])[0]" style="max-width: 440px;")
    p.large Parallelogram #4: {{results[4] * 10}}%
    p {{level(results[4])[0]}} ({{level(results[4])[1]}})


  h2 What does your score mean?

  p Each Parallelogram has its own maximum score, depending on the number and type of questions. You will then receive a grade ranging from point (a 0-dimensional object) to line to square to cube to tesseract (a 4-dimensional object).
  p Whatever your score, the best way to improve is to go through the solution sheet and try to understand how to obtain the correct answer for each question.

  table
    tr
      td(style="width:15%") Tesseract
      td(style="width:5%") 4D
      td(style="width:15%"): img(src="/images/scores/tesseract.png" width=50)
      td(style="width:65%") Brilliant – a perfect or near-perfect score.
    tr
      td Cube
      td 3D
      td: img(src="/images/scores/cube.png" width=50)
      td Great – you succeeded in most of the challenges.
    tr
      td Square
      td 2D
      td: img(src="/images/scores/square.png" width=35)
      td Well done for getting a decent score.
    tr
      td Line
      td 1D
      td: img(src="/images/scores/line.png" width=50)
      td Concentrate and your score will improve.
    tr
      td Point
      td 0D
      td: img(src="/images/scores/point.png" width=5)
      td Did you really try? Next time, focus.
